{% extends "base.html" %} {% block title %}About{% endblock %} {% block main %}

<div class="container my-2" style="margin-top: 500px;width: 70%;">
  
  <div class="row founders">
    <img class="col col-md-3 col-lg-2 imgfound" src="/static/imags/hani.jpg" alt="" />
    <div class="col">
      <div class="">
        <a href="https://www.linkedin.com/in/haniomhsen3810/" style="text-decoration: none;" target="_blank">
          <h2 class="ep-title">Hani Mohsen</h2>
        </a>
        <h5>Front End Developer (React)</h5>
      </div>
      <p>
        Hi, I am Hani Mohsen, an ITI Full Stack Development Using Python track
        graduate. I am looking to obtain a responsible and challenging Front End
        Developer position where my education and work experience will have
        valuable application.
      </p>
      <p>All Social on this link <a href="https://dev.page/hanimohsen"  target="_blank">Dev.Page</a></p>
      <p>Our Website <a href="https://collection-interiors.herokuapp.com/"  target="_blank">Collection</a></p>
    </div>
  </div>

</div>
{% endblock %}