{% extends "base.html" %} {% block title %}Home{% endblock %} {% block main %}
<!-- Landing Area start -->

<!-- Landing Area end -->

<!-- {% for i in data['data'] %} -->
<!-- <video src="{{i['video_file']}}" class="card-img-top" muted alt="" poster="{{i['image_file']}}"></video> -->
<!-- <p>{{ i['cat1'] }}</p> -->
<!-- {% endfor %} -->

<div class="Portfolio container" id="Portfolio">
  <h1 class="wow fadeInDown">Design Scheme</h1>
  <p class="PortfolioDes col-10 col-lg-8 wow fadeInDown">
    Here you can see some of creative work for some of the projects
    that can detrmine your taste.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
    <!-- Cards start -->
    <!-- Minimalist -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/Minimal (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Minimalist</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="Minimal" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scandanivian -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/Scand (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Scandanivian</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="Scand" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Boho -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/Boho (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Boho</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="Boho" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Luxury -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/Luxury (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Luxury</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="Luxury" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Neo Classic -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/NeoClassic (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Neo&#160;Classic</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="NeoClassic" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Classic -->
    <div>
      <div class="PortfolioCard">
        <img src="./static/allimgs/Classic (1).jpg" class="card-img-top"></img>
        <div class="card-body">
          <div class="row" style="justify-content: space-between;align-items: center;">

            <div class="col0 col-3">
              <h2>Classic</h2>
            </div>
            <div class="col2 col-3">
              <a onClick="" href="" style="text-decoration: none;">
                <!-- <i class="fa-regular fa-circle-play"></i> -->
                <form action="/" method="post">
                  <input type="text" name="design" value="Classic" hidden>
                  <button class="btn btn-dark" type="submit" style="background-color: #191b1b;">
                    <i class="far fa-play-circle"></i>
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards End -->
  </div>
</div>



<!-- Pallet Collors Scheme of Design -->

<div class="Portfolio container" id="Portfolio">
  <h1 class="wow fadeInDown">Color Pallets</h1>
  <p class="PortfolioDes col-10 col-lg-8 wow fadeInDown">
    Here you can see Choose a Color Pallet for your Design.
  </p>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
    <!-- Cards start -->

    <!-- Minimalist -->
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (8).jpg" class="card-img-top"></img></div></a></div>
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (2).jpg" class="card-img-top"></img></div></a></div>
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (3).jpg" class="card-img-top"></img></div></a></div>
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (4).jpg" class="card-img-top"></img></div></a></div>
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (5).jpg" class="card-img-top"></img></div></a></div>
    <div><a href="/pallet"><div class="PortfolioCard"><img src="./static/pallets/Pallet (6).jpg" class="card-img-top"></img></div></a></div>

    <!-- Cards End -->
  </div>
  <a href="/pallet" class="btn btn-outline-light">View Pallets</a>
</div>

{% endblock %}