{% extends "base.html" %} {% block title %}Steps{% endblock %} {% block main %}

<div class="container">
  <h1>Steps</h1>
</div>
<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->
<div class="container">
  <h1>Real Dimensions</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://idealstandard-egypt.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">idealstandard</h2>
      </a>
      <h5>Bathrooms Dimensions</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://idealstandard-egypt.com/catalogues/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">idealstandard catalogs</h2>
      </a>
      <h5>Bathrooms Dimensions</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.duravit.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">duravit</h2>
      </a>
      <h5>Trending Egypt Bathrooms</h5>
    </div>
  </div>
</div>

<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->
<div class="container">
  <h1>Inspire</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.pufikhomes.com/en/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Interior Ideas</h2>
      </a>
      <h5>Interior Ideas</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.archdaily.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">archdaily</h2>
      </a>
      <h5>Archdaily</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.interior.ru/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">interior</h2>
      </a>
      <h5>Interior Inspiration ideas</h5>
    </div>
  </div>
</div>

<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->

<div class="container">
  <h1>Color Pallets</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.jotun.com/me-ar/decorative" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Jouten</h2>
      </a>
      <h5>Jouten</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://colorsupplyyy.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Color Supply</h2>
      </a>
      <h5>Color Supply</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://color.adobe.com/create/color-wheel" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Adobe Color</h2>
      </a>
      <h5>Adobe Color</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="http://labs.tineye.com/color/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">labs.tineye</h2>
      </a>
      <h5>Color pallet creator from images</h5>
    </div>
  </div>
</div>


<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="http://colormind.io/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Collor mind</h2>
      </a>
      <h5>Coller Pallet</h5>
    </div>
  </div>
</div>


<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->

<div class="container">
  <h1>Lighting</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://polyhaven.com/hdris" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">hdris</h2>
      </a>
      <h5>HDRIs</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.vonn.com/blog/determine-many-led-lumens-youll-need-properly-light-space/"
        style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Vonn Light Calculator</h2>
      </a>
      <h5>Vonn Light Calculator</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.lighting.philips.com/main/home" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Philips lights</h2>
      </a>
      <h5>Philips lights</h5>
    </div>
  </div>
</div>

<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->

<div class="container">
  <h1>Material</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.textures.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">textures</h2>
      </a>
      <h5>Textures</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.poliigon.com/" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">poliigon</h2>
      </a>
      <h5>Poliigon</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/playlist?list=PLBYF-xjjtYnD0bDZdQNyUaYvl_d7QIcNE" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">Vray Materials</h2>
      </a>
      <h5>Vray Materials</h5>
    </div>
  </div>
</div>


<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->
<div class="container">
  <h1>Channels</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/c/CourseDecor/videos" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Decor Course Channel</h2>
      </a>
      <h5>Decor Course Channel</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/c/decoroo" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">Decoro Channel</h2>
      </a>
      <h5>Decoro Channel</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/c/ARTDECORAMANJAMIN" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">AMANJ AMIN Channel</h2>
      </a>
      <h5>AMANJ AMIN Channel</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/c/NEVERTOOSMALL" style="text-decoration: none;" target="_blank">
        <h2 class="ep-title">NEVER TOO SMALL</h2>
      </a>
      <h5>NEVER TOO SMALL</h5>
    </div>
  </div>
</div>



<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://www.youtube.com/channel/UCrIXSECWFaTfcQC5tCzXs4g/featured" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">MohamedEhsan Photographer</h2>
      </a>
      <h5>MohamedEhsan Photographer</h5>
    </div>
  </div>
</div>


<br>
<hr class="container">
<br>
<!-- --------------------------------------------------------------------------- -->
<div class="container">
  <h1>Online Refs</h1>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://drive.google.com/file/d/1elSf96ijL8n6KVCUSPhMmoXuG6yEeu3x/view?usp=sharing" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">D.Signers Color Combinations Guide</h2>
      </a>
      <h5>D.Signers Color Combinations Guide</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://drive.google.com/file/d/1uoUIWKa8zstd5Ej3NKDrywvKBvpDWnsa/view?usp=sharing" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">D.Signers Color Guide</h2>
      </a>
      <h5>D.Signers Color Guide</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://drive.google.com/file/d/1o-QtVep8ptZ_q6K5HSl09fO2pgU_1KZ1/view?usp=sharing" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">D.Signers Interior Design Mistakes Guide</h2>
      </a>
      <h5>D.Signers Interior Design Mistakes Guide</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://drive.google.com/file/d/1bqwG8Ymg9urcgO7aIwnbKAahCdvAdRQq/view?usp=sharing" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">Delightfull ezine mid century interiors sixth edition</h2>
      </a>
      <h5>Delightfull ezine mid century interiors sixth edition</h5>
    </div>
  </div>
</div>


<div class="container">
  <div class="row founders">
    <div class="col">
      <a href="https://drive.google.com/drive/folders/1eUhFRJ-hMlZHQ23PeEA5w7WDP1kMV_eF?usp=sharing" style="text-decoration: none;"
        target="_blank">
        <h2 class="ep-title">Important Images Toutorials</h2>
      </a>
      <h5>Important Images Toutorials</h5>
    </div>
  </div>
</div>

{% endblock %}